<div class="side-bar-header">
  <div class="header-user-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>  
</div>

<div class="rooms">
  <a href="#">chat_room1</a>
  <a href="#">chat_room2</a>
</div>